@import url('./_older/buildings__link_older.css');
.buildings__link {
    width: max-content;
    height: 22px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;    
}
