@import url('../slide-block/__title/slide-block__title.css');
@import url('../slide-block/__title/slide-block__title-small.css');
@import url('./__image/slide-block__image.css');
@import url('./__image/slide-block__image-small.css');
@import url('../button-link/button-link.css');
@import url('./__button-link/slide-block__buttom-link.css');


.slide-block {    
    position: relative;
}
.slide-block:first-child {
    margin-bottom: 7px;
}
.container-small-slide {
    /* max-width: 373px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
}
.swiper-slide {
    width: auto  !important;
}