.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #4f4f4f;
}

.swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color:  #4f4f4f;;
}
.swiper-pagination {
    margin-top: 40px;
    position: relative;
}