@import url('./__gallery/modern-buildings__gallery.css');
@import url('./__link/modern-buildings__link.css');

.modern-buildings {
    width: 61%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    /* border: 1px solid red; */
}